**/nbproject/**
**/.vscode/**
**/.settings/**

/mpeg-scrambling2.0/*.o
/mpeg-scrambling2.0/*.exe

/Scrambling1.1/bin
/Scrambling1.1/manifest.mf
/Scrambling1.1/nbbuild.xml
/Scrambling1.1/build/
/Scrambling1.1/dist/